<div class="movie">
  <div>
    <a href="#">
      <img [src]="movie.poster_path" alt="...">
    </a>
  </div>
  <div class="movie-info">
    <div class="movie-header">
      <h4>{{movie.title}}</h4>
      <h4 class="right">{{movie.vote_average}}</h4>
    </div>
    <!--<div class="movie-header">
      <input type="text" [(ngModel)]="movie.title">
    </div>-->
    <div class="movie-header">
      <span *ngFor="let g of movie.genre">{{g}}&nbsp;</span>
      <span class="right">{{movie.release_date.substring(0, 4)}}</span>
    </div>
    <p>{{movie.overview}}</p>
  </div>
</div>
